/* General Layout */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
}

/* Header & Menu */
header {
    background-color: #2c3e50;
    padding: 1rem 0;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

header a:hover {
    color: #3498db;
}

/* Main Content Area */
main {
    flex: 1;
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 { color: #2c3e50; }
p { line-height: 1.6; color: #444; font-size: 1.1rem; }

//* Footer Section */
footer {
	background-color: #e67e22; 
    color: #ffffff;
    color: #ecf0f1; 
    text-align: center;
    padding: 10px 0; 
    margin-top: auto;
}

footer a {
    color: #ffffff;
    text-decoration: underline; 
    font-weight: bold
}

footer a:hover {
    color: #2c3e50;
}

.footer-info {
    /* Reduced margin from 5px to 2px to shrink total height */
    margin: 2px 0;
    font-size: 0.85rem;
    /* Forces the text color to inherit from the footer's color: #ecf0f1 */
    color: inherit; 
}
